/* Header */

.header {
    background-color: #fdfdfd;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;

    max-width: 1200px;
    margin: 0 auto;
}

.header__card {
    background: #FD88CE;
    background: linear-gradient(140deg,rgba(253, 136, 206, 1) 0%, rgba(251, 217, 105, 1) 100%);
    width: 100%;
    height: 450px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.header__card-introduction {
    font-family: "Nunito", Arial, sans-serif;
    font-size: 32px;
    font-weight: semi-bold;
    line-height: 20px;
    color: #111827;
}

.header__card-description {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 44px;
    font-weight: medium;
    line-height: 72px;
    text-align: center;
    color: #111827;
}

.header__span {
    color: #fdfdfd;
}

.buttons {
    display: flex;
    gap: 30px;
}

.button__contact, .button__resume {
    background-color: #111827;
    color: #fdfdfd;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    font-weight: medium;
    cursor: pointer;
}
