/* Header nav */

.nav {

    
    width: 100%;
    padding: 16px 0px;
    
    
}

.nav__content {
    
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.nav__brand {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}

.nav__logo {
    width: 40px;
    
}

.nav__name {
    font-size: 16px;
    font-weight: bold;
    color: #111827;
}

.nav__links {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.nav__link {
    text-decoration: none;
    color: #111827;
    font-size: 16px;
    transition: color 0.25s ease;
}

.nav__link:hover {
     color: #FD88CE;
     font-weight: semi-bold;
}
