

.projects {

    max-width: 1200px;
    margin: 0 auto;    
    display: flex;
    flex-direction: column;
    
    
}

.projects__title {
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    font-size: 42px;
    
    text-align: left;
    margin-bottom: 80px;
}

.projects__cards_line {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    margin-bottom: 40px;
}

.project__card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}


.project__card {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    width: 360px;    
    min-height: 520px;

    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

    transition: transform 0.6s ease, box-shadow 0.6s ease;

}

.project__card:hover {
    /* transform: translateY(-4px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.10); */

    animation-duration: 8s;
    transform: translateY(-6px) scale(1.01);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}


.project__card-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.project__card-description {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #4B5563;
}

.project__card-bg {
    background: linear-gradient(140deg,rgba(253, 136, 206, 1) 0%, rgba(251, 217, 105, 1) 100%);
    max-width: 500px;
    height: 280px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project__card-image {

    width: 80%;
    height: 80%;
    border-radius: 10px;
    object-fit: cover;

}

.project__card-techs {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    
}

.tehc {

    background-color: #111827;
    color: #fdfdfd;
    border: none;
    border-radius: 30px;
    padding: 8px 15px;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 12px;
    font-weight: medium;
    

}


.projects__buttons {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projects__button--left, .projects__button--right {
    background-color: #111827;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fdfdfd;
    font-size: 20px;
    cursor: pointer;
}


