/* Importações Estilo Blocos */

@import url('../vendor/normalize.css');
@import url('../blocks/page.css');
@import url('../blocks/header.css');
@import url('../blocks/nav.css');
@import url(../blocks/projects.css);



/* Estilo global */

* {
    scroll-behavior: smooth;
}
